{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lost and Found</title>

    <link rel="stylesheet" href="{% static 'home/home.css' %}">
</head>
<body>

<nav class="navbar">
    <div class="logo">
        <strong>Lost & Found</strong>
    </div>

    <div class="profile-section">
        {% if user.is_authenticated %}
        <span><strong>{{ user.username }}</strong></span>

        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="logout-btn">Log Out</button>
        </form>
        {% endif %}
    </div>
</nav>

<div class="main-container">
    <h1>Welcome to the Lost and Found App!</h1>
</div>

<div class="buttons-container">

    <a href="{% url 'lost_list' %}" class="btn">
        Lost Items
    </a>

    <a href="{% url 'found_list' %}" class="btn">
        Found Items
    </a>

    <a href="{% url 'confirmations' %}" class="btn">
        Confirmations
    </a>

</div>

</body>
</html>